.App {
  text-align: center;
}

.background {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  padding-top: 5vh;
}

#container {
  display: grid;
  place-items: center;
  margin: 0 auto;
  background-color: #04051a;
  border: 3px solid #40024b;
  border-radius: 10px;
  width: 40vw;
  height: 20vh;
  color: aliceblue;
  padding-bottom: 20px;
  padding-top: 20px;
}

.input {
  padding: 10px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px;
  border-color: transparent;
  width: 20vw;
  text-align: center;
}

#seeMore {
  border-radius: 25px;
  background-color: #410353;
  border: 1px solid #410353;
  margin-right: 20px;
  width: 8vw;
  margin-top: 35px;
}

#seeMore:hover {
  background-color: #8a1185;
  border: 1px solid #8a1185;
}

#container > form > input {
  background-color: transparent;
  border: 0;
  transition: none;
  text-align: center;
  color: #bcc4bc;
}

#savedLocations {
  background-color: #0f277f;
  border: 1px solid #0f277f;
  border-radius: 25px;
  margin-left: 20px;
  width: 8vw;
  margin-top: 30px;
  padding: 10px;
}

#savedLocations:hover {
  background-color: #3b5197;
  border: 1px solid #3b5197;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

#datetime {
  margin-bottom: 10px;
  color: #bcc4bc;
}

#container2 {
  position: relative;
  right: 2.4%;
  top: 260%;
  display: grid;
  place-items: center;
  background-color: #04051a;
  border-radius: 10px;
  width: 40vw;
  height: 20vh;
  color: #bcc4bc;
  padding-bottom: 20px;
  padding-top: 20px;
}
